.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  block-size: 100px;
  inline-size: 100px;
  padding: 10px;

  &.black {
    background-color: black;
  }

  &.white {
    background-color: white;
  }
}

.piece {
  block-size: 100%;
  inline-size: 100%;
  border-radius: 50%;
  border: 1px solid red;

  &.black {
    background-color: black;
  }

  &.white {
    background-color: white;
  }
}
